[submodule "thirdparty/oneTBB"]
	path = thirdparty/oneTBB
	url = https://github.com/oneapi-src/oneTBB
[submodule "thirdparty/taskflow"]
	path = thirdparty/taskflow
	url = https://github.com/taskflow/taskflow
[submodule "thirdparty/folly"]
	path = thirdparty/folly
	url = https://github.com/facebook/folly.git
[submodule "thirdparty/fastfloat"]
	path = thirdparty/fastfloat
	url = https://github.com/fastfloat/fast_float.git
