[submodule "thirdparty/oneTBB"]
	path = thirdparty/oneTBB
	url = https://github.com/oneapi-src/oneTBB
[submodule "thirdparty/taskflow"]
	path = thirdparty/taskflow
	url = https://github.com/taskflow/taskflow
[submodule "thirdparty/folly"]
	path = thirdparty/folly
	url = https://github.com/facebook/folly.git
[submodule "thirdparty/fastfloat"]
	path = thirdparty/fastfloat
	url = https://github.com/fastfloat/fast_float.git
[submodule "thirdparty/pbbsbench"]
	path = thirdparty/pbbsbench
	url = https://github.com/EgorkaZ/pbbsbench.git
	branch = eigen-mailbox
	ignore = untracked
[submodule "thirdparty/composable-parallel-scheduler-thesis"]
	path = thirdparty/composable-parallel-scheduler-thesis
	url = https://github.com/lejabque/composable-parallel-scheduler-thesis.git
	branch = master
	ignore = untracked
